<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="w-full h-screen bg-[#212121] flex">
    <div class="border w-full h-full flex justify-center items-center">
        <form action="/updateData" method="post" enctype="multipart/form-data" class="border border-[gray] w-[50%] rounded-lg p-10 flex flex-col items-start">
            <p class="text-[gray] text-xl font-bold mb-10">Edit Student Form</p>
            <div class="w-full flex">
                <div class="w-[50%]">
                    <input type="text" placeholder="Enter id" name="id" value="<%=singleData.id%>" hidden class="border border-[gray] w-full h-[40px] ps-5 rounded mb-5 text-white">
                    <input type="text" placeholder="Enter Name" name="name" value="<%=singleData.name%>" class="border border-[gray] w-full h-[40px] ps-5 rounded mb-5 text-white">
                    <input type="text" placeholder="Enter Email" name="email" value="<%=singleData.email%>" class="border border-[gray] w-full h-[40px] ps-5 rounded mb-5 text-white">
                    <input type="text" placeholder="Enter Course" name="subject" value="<%=singleData.subject%>" class="border border-[gray] w-full h-[40px] ps-5 rounded mb-5 text-white">
                    <input type="text" placeholder="Enter City" name="city" value="<%=singleData.city%>" class="border border-[gray] w-full h-[40px] ps-5 rounded mb-5 text-white">        
                    <input type="file" name="image" class="border border-[gray] w-full h-[30px] text-sm font-bold flex justify-center rounded ps-5 pt-1 bg-[gray] cursor-pointer">
                </div>
                <div class="w-[50%] flex justify-center items-center">
                    <img src="<%=singleData.image%>" alt="" class="h-[250px]">
                </div>
            </div>
            <button type="submit" class="border border-[gray] w-[150px] h-[40px] rounded cursor-pointer text-[gray] mt-10 hover:bg-black hover:text-white">Submit</button>
        </form>
    </div>
</body>

</html>